.form-test{
    display: inline-block;
    position: relative;
    border:1px dashed #636363;
}
.form-test .btn{
    display: none;
    position: absolute;
    right:0;
    top:0;
}

.form-test:hover .btn,
.form-test:focus .btn{
    display: inline-block;
}
#ap a:link,
#ap a:visited,
#ap a:hover,
#ap a:active,
#ap a:focus {
    text-decoration: none;
    color: #636363;
}

#ap ul {
    margin: 0;
    padding: 0;
}

.ap-fixed-top {

    border-width: 0 0 1px 0;
    -webkit-box-shadow: 0px 15px 15px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 15px 15px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 15px 15px -20px rgba(0, 0, 0, 0.75);
}

.ap-navbar {
    padding: 0;
    border-bottom: 1px solid #cdcdcd;

}
@media (min-width: 768px) {
    .ap-navbar {
        height: 46px;
    }

}
.navbar-toggler{
    border:0;
    border-radius: 0;
}
/*
.ap-navbar-default.open .ap-navbar-brand{
    border-right: 1px solid #cdcdcd;
}*/
.ap-navbar-brand {
    /*width: 60px;
    height:50px;*/
    position: relative;
    padding: 0 1rem;
    margin: 0;
    border-right: 1px solid #cdcdcd;

    height: 100%;

}
.ap-navbar-nav{
    padding: .65rem;
    cursor: pointer;
}
.ap-navbar-brand > i {
    font-size: 30px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

#ap .ap-navbar-light {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0%, #eeeeee 100%);
    background: linear-gradient(top, #f9f9f9 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#eeeeee', GradientType=0);

}

#ap .navbar-nav > li {


}
#ap .navbar-nav > li > ul >li {
    height: auto;
    line-height: 100%;
}

#ap .navbar-nav > li > a {
    font-size: 14px;
    display: block;
    padding: .75rem;
    position: relative;
    color: #636363;

}



#ap .navbar-nav > li:hover > a {
    background: #f0f0f0;

}

#ap .dropdown-item {
    padding: 0;
}
#ap .dropdown-item a {
    padding: 10px;
    display: block;
}

#ap .dropdown-menu {
    padding: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.ap-toggle {
    width: 64px;
}

.ap-toggle ul {
    display: none;
}

#ap .ap-navbar-nav-right .navbar-nav > li:first-child {
    border-left: 1px solid #cdcdcd;
}
#ap label{
    margin: 0;
    font-size: 12px;
}
#ap .dropdown-item.active,
#ap .dropdown-item:active {
    background-color: #cdcdcd;
}

#ap ul:first-child{
    border-top: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
    #ap ul:first-child{
        border-top: 0;
    }
    .ap-navbar-brand {
        padding: 0 1rem 0 0;

    }

    #ap .navbar-nav > li {
        border-left: 1px solid #fff;
        border-right: 1px solid #cdcdcd;
        background: #f9f9f9;
    }
    #ap .navbar-nav > li:hover {
        border-left: 1px solid rgba(0, 0, 0, 0.07);
        /* border-right: 1px solid rgba(0,0,0,0.10);*/
    }
    #ap .navbar-nav > li:hover > a {
        background: #f0f0f0;
        -webkit-box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.07);
        box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.07);
    }
}



.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input.cmn-toggle-round-flat + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}
input.cmn-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 30px;
    background-color: #dddddd;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
    background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 22px;
    background-color: #8ce196;
}