.top-cart-row .dropdown-cart .dropdown-menu{
    padding:10px;
}
.cart-item.product-summary{
    margin-bottom: 10px;
}
.blog-page .blog-post{
    margin-bottom: 50px;
    position: relative;
}
.blog-page .blog-post:last-child{
    margin-bottom: 0;
}
div.star-rating a{
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.filters-container{
    padding:15px;
}
.comment{
    border-bottom:1px solid gray;
    padding-bottom:15px;
}
a.corner{
    padding-right: 95px;
}
.product-info .timing-wrapper{
    position: relative;
    left:auto;
    bottom:auto;
}
.product-info .timing-wrapper .box-wrapper .box{
    background-color: #108bea;
    color:#fff;
}
.search-result-container .category-product-inner .product-list.product .tag{
    width:auto;
    padding-left:10px;
    padding-right:10px;
}

.product-label .product-label-tag{
    width:auto;
    text-transform: uppercase;
    text-align:center;
    font-size: 10px;
    font-weight: 700;
    line-height: 40px;
    padding-left:10px;
    padding-right:10px;
    height: 35px;
    line-height: 35px;
    font-size: 10px;
    right: 14px;
    letter-spacing: 0.5px;
    color:#fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.product-label-tag.new {
    background: #46aad7;
}
.product-label-tag.sale {
    background: #fdd922;
    color: #333;
}
.product-label-tag.hot {
    background: #ff7878;
}
.product-label{
    position: absolute;
    right:10px;
    top:10px;
}



.top-compare,
.top-wishlist{
    text-align: center;
    width: 25px;
    height:25px;
    display: block;
    position: relative;
    margin-right: 10px;
}

.top-compare:after,
.top-wishlist:after,
.nav-user .dropdown-toggle:after{
    position: absolute;
    font-family: 'Corner'; 
    left:0;
    top:-2px;
    font-size:15px;
}


.top-compare:after,
.top-wishlist:after{
    left:5px;

}
.top-wishlist:after{
    content:"\f013";
}
.top-compare:after{
    content:"\f019";
}
.nav-user .dropdown-toggle{
    position: relative;
    padding-left:23px;
    margin-left: 10px;
}

.nav-user .dropdown-toggle:after{
    content:"\f004";

}

#countCompare,
#countWishlist{
    color: #999;
    display: inline-block;
    font-size: 10px;
    padding: 2px 5px;
    position: absolute;
    right: -8px;
    top: -5px;
    z-index:1;
}
@media (min-width: 768px) {
    .top-compare,
    .top-wishlist{
        border-radius: 50%;
        width: auto;
        height:auto;
        display: inline;
        border:none;
        padding-left:23px;

    }
    .top-compare:after,
    .top-wishlist:after{
        position: absolute;
        font-family: 'Corner';
        top:-2px;
        left:0;
        font-size:15px;
    }
    .top-wishlist:after{
        content:"\f013";
    }
    .top-compare:after{
        content:"\f019";
    }

    #countCompare,
    #countWishlist{
        background: transparent;
        border-radius: 50%;
        color: #999;
        display: inline-block;
        font-size: 13px;
        padding: 0;
        position: static;
        right: -8px;
        top: -5px;
    }
}
