.ui-datepicker{
    padding:0;
        z-index:3;
}
.ui-corner-all{
    border-radius:0;
}
.ui-widget.ui-widget-content{
    border:0;
}
.ui-tabs{
    padding:0;
}
.ui-tabs .ui-tabs-nav{
    padding:0;
}
.ui-tabs .ui-tabs-panel{
    padding:0;
}
.ui-datepicker .ui-datepicker-header,
.ui-dialog .ui-dialog-titlebar{
    padding: 8px 0 7px 0;
}
.ui-widget-header{
    border:0;
    border-bottom: 1px solid #CDCDCD; 
    background: #F8F8F8;
    padding: 8px 0 7px 0;
    background: -moz-linear-gradient(top, #F8F8F8 0%, #ececec 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(top, #F8F8F8 0%,#ececec 100%);
    background: -o-linear-gradient(top, #F8F8F8 0%,#ececec 100%);
    background: -ms-linear-gradient(top, #F8F8F8 0%,#ececec 100%);
    background: linear-gradient(top, #F8F8F8 0%,#ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ececec',GradientType=0 );
}
.ui-dialog.no-padding .ui-dialog-content{
    padding:0;
}
.ui-dialog .ui-dialog-content{
    padding:15px;
}
.ui-widget-content{
    background: #F8F8F8;
}
.ui-datepicker td span, .ui-datepicker td a{
    text-align:center;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background: #007fff;
    border: 1px solid #003eff;
    color:#fff;
}
.ui-widget-header .ui-icon,
.ui-dialog .ui-dialog-titlebar-close{
    background-image: url("../images/ui/ui-icons.png");
}
.ui-dialog .ui-dialog-title{
    margin: 0.1em 15px;
}

.ui-datepicker .ui-datepicker-buttonpane button{
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image:      -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background-image:         linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}
.ui-datepicker .ui-datepicker-buttonpane button:hover,
.ui-datepicker .ui-datepicker-buttonpane button:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    top: 8px;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 8px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 2px;
}
.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-focus{
    border:0;
    background: transparent;
}
.ui-dialog{
    padding:0;
}
.ui-dialog .ui-dialog-titlebar-close{

   background-position: -80px -128px;
   background-color: transparent;
   margin: -8px 0 0;
   border:0;
}

.ui-widget-overlay{
    z-index: 100;    

}