.online .card.bg-light,
.online .card.bg-light .card-header{
    border:0;
}
.online .list-group-item{
    border-left: 0;
    border-right: 0;
}
.online .card{
    margin: 0;
}
.online .badge{
    font-size: 12px;
    font-weight: normal;

}
.online .card-header .badge{
    margin-top: 3px;
}