
.ap-favicon{
    background-image: url(favicon.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: block;
}
.ap{
    position: relative;
    z-index: 1001;
        background: #f0f0f0;
    border-color: #888;
    border-width: 1px;
    border-style: solid;
}
.ap-fixed-left.open{
    height: 100%;
}
.ap-fixed-top,
.ap-fixed-left,
.ap-fixed-bottom,
.ap-fixed-right{
    position: fixed;
}
.ap-fixed-top{
    width:100%;
        border-width: 0 0 1px 0;
-webkit-box-shadow: 0px 15px 15px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 15px 15px -20px rgba(0,0,0,0.75);
box-shadow: 0px 15px 15px -20px rgba(0,0,0,0.75);
}
.ap-fixed-bottom{
    
-webkit-box-shadow: 0px -15px 15px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -15px 15px -20px rgba(0,0,0,0.75);
box-shadow: 0px -15px 15px -20px rgba(0,0,0,0.75);


}
.ap-fixed-right{
-webkit-box-shadow: -15px 0px 15px -20px rgba(0,0,0,0.75);
-moz-box-shadow: -15px 0px 15px -20px rgba(0,0,0,0.75);
box-shadow: -15px 0px 15px -20px rgba(0,0,0,0.75);
}
.ap-fixed-left {
    left: 0;
    top:0;
    z-index: 1030;
    width:250px;
     border-width: 0 1px 0 0;
-webkit-box-shadow: 15px 0px 15px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 0px 15px -20px rgba(0,0,0,0.75);
box-shadow: 15px 0px 15px -20px rgba(0,0,0,0.75);
}
.ap-fixed-left .ap-dropdown-menu{
    top:0;
    left:300px;
    margin:0;
}
.ap-fixed-left .ap-nav{
  margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.ap-fixed-left .ap-nav > li{
    border-bottom: 1px solid #cdcdcd;
    border-top: 1px solid #fff;
    display: block;
    position: relative;
}
.ap-nav{
    list-style: none;
}
.ap-nav > li{
    float:left;
        border-left: 1px solid #fff;
    border-right: 1px solid #cdcdcd;
}
.ap-nav > li > a:hover,
.ap-nav > li > a:focus{
    text-decoration: none;
}
.ap-nav > li > a{
    display: block;
    padding: 10px 15px;
    position: relative;
    color: #636363;
    background: #f9f9f9;
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
    background: linear-gradient(top,  #f9f9f9 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 );

}

.ap-nav > li:hover > a{
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e8e8e8));
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%);
    background: -o-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%);
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%);
    background: linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e8e8e8',GradientType=0 );
}
.addons-nav{
    list-style: none;
    margin: 0 auto;
    padding:0;
}
.addons-nav li{
    float:left;

    margin: 10px 0;
    padding:0;
}
/*
#admin-panel.hidden{
    width:45px;
    opacity: 0.7;
}
#admin-panel .user-avatar{
    top: 4px;
    position: relative;
}
#admin-panel.hidden .panelObj{
    display: none;
}


.breadLine {    opacity: 1;  z-index: 1111;     top: 0;  position: fixed;
    width: 100%;height: 28px;  background: url(breadcrumbs.png) repeat-x; border-bottom: 1px solid #c3c3c3; font-size: 11px; }


.breadcrumbs { height: 28px; margin-left: 16px; }
.breadcrumbs span { border-right: none; color: #B1B1B1;margin-left: 15px;}
.breadcrumbs a { color: #666666; text-decoration: none; padding: 0 10px 0 15px;  line-height: 28px; }
.breadcrumbs a:hover, .breadcrumbs a.hover { color: #2B6893;  }
.breadcrumbs a:last-child { padding-left: 0; }


.breadLinks > ul > li.posRight{
    border-left: 1px solid #c3c3c3; 
    float: right;
}
.breadLinks > ul,
.breadLinks > ul li ul{
margin:0;
list-style: none;
}
span[class*="icon-"]{
    font-size:16px;
}
.breadLinks a{
    font-family: Verdana;
    font-size:11px;
}
.breadLinks {  margin-right: 30px; }
.breadLinks > ul > li { float: left; border-right: 1px solid #c3c3c3; position: relative;height: 28px; margin:0;}
.breadLinks ul li strong { color: #B35D5D; margin-left: 4px; }
.breadLinks > ul > li:first-child { border-left: 1px solid #c3c3c3; }
.breadLinks ul li a { color: #666666; padding: 3px 12px; display: block; height: 22px;text-decoration: none; }
.breadLinks ul li:hover ul{
    display: block;
}
.breadLinks ul li a:hover {  
    background: #f8f8f8;
    text-decoration: none;
    background: -moz-linear-gradient(top,  #f8f8f8 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
    background: -o-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
    background: -ms-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
    background: linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eaeaea',GradientType=0 ); }
.breadLinks ul li a:active {  background: #f8f8f8; }
.breadLinks ul li a span > img { margin-left: 6px; }
.breadLinks ul li ul { left: -1px;position: absolute; display: none;  border: 1px solid #c3c3c3; z-index: 990; text-align: left; }
.breadLinks ul li ul, .breadLinks ul li ul li:last-child { -webkit-border-bottom-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomright: 2px;  -moz-border-radius-bottomleft: 2px; }
.breadLinks ul li ul li { width: 180px; float: none; border-top: 1px solid #fff; border-bottom: 1px solid #ddd; margin:0; }
.breadLinks ul li ul li:first-child { border-top: none; }
.breadLinks ul li ul li a {background: #FDFDFD; padding: 5px 12px; line-height: 20px;
                           background: -moz-linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
                           background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FDFDFD), color-stop(100%,whiteSmoke));
                           background: -webkit-linear-gradient(top, #FDFDFD 0%,whiteSmoke 100%);
                           background: -o-linear-gradient(top, #FDFDFD 0%,whiteSmoke 100%);
                           background: -ms-linear-gradient(top, #FDFDFD 0%,whiteSmoke 100%);
                           background: linear-gradient(top, #FDFDFD 0%,whiteSmoke 100%);
                           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f5f5f5',GradientType=0 ); }
.breadLinks ul li ul li a:hover { background: #f5f5f5; }


*/



.toggle{
    margin: 10px 0;

}
.toggle-group .btn-default{
    background: #fff;


}

#admin-panel .toggle-group > .ap-btn-danger{
    border:1px solid #c8312e;
    background-color: #ff615d;

}
#admin-panel .toggle.btn{
    /* border:1px solid #c0c0c0;*/


}
#admin-panel .toggle.btn,
#admin-panel .toggle-group .btn{
    border-radius: 3px;
}
.toggle.btn-xs{
    padding: 2px 2px;
    border:0;
    font-size:13px;
    font-weight: normal;
    letter-spacing: normal;
}
.toggle-off.btn-xs,
.toggle-on.btn-xs{
    font-size:13px;

}
.toggle-handle{

}
.toggle-handle:hover,
.toggle-handle:focus{
    border-width: 0 1px;
}
.ap-arrow{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    width:20px;
    height:20px;
}
.ap-arrow-right{
    float:right;
    background-image: url(arrow-right.svg);
}
/*reBoostrap*/
.ap-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.ap-btn:focus,
.ap-btn:active:focus,
.ap-btn.active:focus,
.ap-btn.focus,
.ap-btn:active.focus,
.ap-btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.ap-btn:hover,
.ap-btn:focus,
.ap-btn.focus {
    color: #333;
    text-decoration: none;
}
.ap-btn:active,
.ap-btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.ap-btn.disabled,
.ap-btn[disabled],
fieldset[disabled] .ap-btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
a.ap-btn.disabled,
fieldset[disabled] a.ap-btn {
    pointer-events: none;
}
.ap-fixed-left .ap-btn-group{
        margin: 15px 0;
}
.btn-group-wrap {
    text-align: center;
}

.btn-group-wrap .btn-group {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}
.ap-btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.ap-btn-group > .ap-btn{
    position: relative;
    float: left;
}
.ap-btn-group > .ap-btn:hover,
.ap-btn-group > .ap-btn:focus,
.ap-btn-group > .ap-btn:active,
.ap-btn-group > .ap-btn.active{
    z-index: 2;
}
.ap-btn-group .ap-btn + .ap-btn,
.ap-btn-group .ap-btn + .ap-btn-group,
.ap-btn-group .ap-btn-group + .ap-btn,
.ap-btn-group .ap-btn-group + .ap-btn-group {
    margin-left: -1px;
}
.ap-btn-group > .ap-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.ap-btn-group > .ap-btn:first-child {
    margin-left: 0;
}
.ap-btn-group > .ap-btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ap-btn-group > .ap-btn:last-child:not(:first-child),
.ap-btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.ap-btn-group > .ap-btn-group {
    float: left;
}
.ap-btn-group > .ap-btn-group:not(:first-child):not(:last-child) > .ap-btn {
    border-radius: 0;
}
.ap-btn-group > .ap-btn-group:first-child:not(:last-child) > .ap-btn:last-child,
.ap-btn-group > .ap-btn-group:first-child:not(:last-child) > .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.ap-btn-group > .ap-btn-group:last-child:not(:first-child) > .ap-btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.ap-btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.ap-btn-default:focus,
.ap-btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.ap-btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.ap-btn-default:active,
.ap-btn-default.active,
.open > .dropdown-toggle.ap-btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.ap-btn-default:active:hover,
.ap-btn-default.active:hover,
.open > .dropdown-toggle.ap-btn-default:hover,
.ap-btn-default:active:focus,
.ap-btn-default.active:focus,
.open > .dropdown-toggle.ap-btn-default:focus,
.ap-btn-default:active.focus,
.ap-btn-default.active.focus,
.open > .dropdown-toggle.ap-btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.ap-btn-default:active,
.ap-btn-default.active,
.open > .dropdown-toggle.ap-btn-default {
  background-image: none;
}
.ap-btn-default.disabled:hover,
.ap-btn-default[disabled]:hover,
fieldset[disabled] .ap-btn-default:hover,
.ap-btn-default.disabled:focus,
.ap-btn-default[disabled]:focus,
fieldset[disabled] .ap-btn-default:focus,
.ap-btn-default.disabled.focus,
.ap-btn-default[disabled].focus,
fieldset[disabled] .ap-btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}
.ap-btn-default .badge {
  color: #fff;
  background-color: #333;
}
.ap-btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.ap-btn-primary:focus,
.ap-btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.ap-btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.ap-btn-primary:active,
.ap-btn-primary.active,
.open > .dropdown-toggle.ap-btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.ap-btn-primary:active:hover,
.ap-btn-primary.active:hover,
.open > .dropdown-toggle.ap-btn-primary:hover,
.ap-btn-primary:active:focus,
.ap-btn-primary.active:focus,
.open > .dropdown-toggle.ap-btn-primary:focus,
.ap-btn-primary:active.focus,
.ap-btn-primary.active.focus,
.open > .dropdown-toggle.ap-btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.ap-btn-primary:active,
.ap-btn-primary.active,
.open > .dropdown-toggle.ap-btn-primary {
  background-image: none;
}
.ap-btn-primary.disabled:hover,
.ap-btn-primary[disabled]:hover,
fieldset[disabled] .ap-btn-primary:hover,
.ap-btn-primary.disabled:focus,
.ap-btn-primary[disabled]:focus,
fieldset[disabled] .ap-btn-primary:focus,
.ap-btn-primary.disabled.focus,
.ap-btn-primary[disabled].focus,
fieldset[disabled] .ap-btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.ap-btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.ap-btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.ap-btn-success:focus,
.ap-btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.ap-btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.ap-btn-success:active,
.ap-btn-success.active,
.open > .dropdown-toggle.ap-btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.ap-btn-success:active:hover,
.ap-btn-success.active:hover,
.open > .dropdown-toggle.ap-btn-success:hover,
.ap-btn-success:active:focus,
.ap-btn-success.active:focus,
.open > .dropdown-toggle.ap-btn-success:focus,
.ap-btn-success:active.focus,
.ap-btn-success.active.focus,
.open > .dropdown-toggle.ap-btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.ap-btn-success:active,
.ap-btn-success.active,
.open > .dropdown-toggle.ap-btn-success {
  background-image: none;
}
.ap-btn-success.disabled:hover,
.ap-btn-success[disabled]:hover,
fieldset[disabled] .ap-btn-success:hover,
.ap-btn-success.disabled:focus,
.ap-btn-success[disabled]:focus,
fieldset[disabled] .ap-btn-success:focus,
.ap-btn-success.disabled.focus,
.ap-btn-success[disabled].focus,
fieldset[disabled] .ap-btn-success.focus {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.ap-btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.ap-btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.ap-btn-info:focus,
.ap-btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.ap-btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.ap-btn-info:active,
.ap-btn-info.active,
.open > .dropdown-toggle.ap-btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.ap-btn-info:active:hover,
.ap-btn-info.active:hover,
.open > .dropdown-toggle.ap-btn-info:hover,
.ap-btn-info:active:focus,
.ap-btn-info.active:focus,
.open > .dropdown-toggle.ap-btn-info:focus,
.ap-btn-info:active.focus,
.ap-btn-info.active.focus,
.open > .dropdown-toggle.ap-btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.ap-btn-info:active,
.ap-btn-info.active,
.open > .dropdown-toggle.ap-btn-info {
  background-image: none;
}
.ap-btn-info.disabled:hover,
.ap-btn-info[disabled]:hover,
fieldset[disabled] .ap-btn-info:hover,
.ap-btn-info.disabled:focus,
.ap-btn-info[disabled]:focus,
fieldset[disabled] .ap-btn-info:focus,
.ap-btn-info.disabled.focus,
.ap-btn-info[disabled].focus,
fieldset[disabled] .ap-btn-info.focus {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.ap-btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.ap-btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.ap-btn-warning:focus,
.ap-btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.ap-btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.ap-btn-warning:active,
.ap-btn-warning.active,
.open > .dropdown-toggle.ap-btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.ap-btn-warning:active:hover,
.ap-btn-warning.active:hover,
.open > .dropdown-toggle.ap-btn-warning:hover,
.ap-btn-warning:active:focus,
.ap-btn-warning.active:focus,
.open > .dropdown-toggle.ap-btn-warning:focus,
.ap-btn-warning:active.focus,
.ap-btn-warning.active.focus,
.open > .dropdown-toggle.ap-btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.ap-btn-warning:active,
.ap-btn-warning.active,
.open > .dropdown-toggle.ap-btn-warning {
  background-image: none;
}
.ap-btn-warning.disabled:hover,
.ap-btn-warning[disabled]:hover,
fieldset[disabled] .ap-btn-warning:hover,
.ap-btn-warning.disabled:focus,
.ap-btn-warning[disabled]:focus,
fieldset[disabled] .ap-btn-warning:focus,
.ap-btn-warning.disabled.focus,
.ap-btn-warning[disabled].focus,
fieldset[disabled] .ap-btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.ap-btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.ap-btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.ap-btn-danger:focus,
.ap-btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.ap-btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.ap-btn-danger:active,
.ap-btn-danger.active,
.open > .dropdown-toggle.ap-btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.ap-btn-danger:active:hover,
.ap-btn-danger.active:hover,
.open > .dropdown-toggle.ap-btn-danger:hover,
.ap-btn-danger:active:focus,
.ap-btn-danger.active:focus,
.open > .dropdown-toggle.ap-btn-danger:focus,
.ap-btn-danger:active.focus,
.ap-btn-danger.active.focus,
.open > .dropdown-toggle.ap-btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.ap-btn-danger:active,
.ap-btn-danger.active,
.open > .dropdown-toggle.ap-btn-danger {
  background-image: none;
}
.ap-btn-danger.disabled:hover,
.ap-btn-danger[disabled]:hover,
fieldset[disabled] .ap-btn-danger:hover,
.ap-btn-danger.disabled:focus,
.ap-btn-danger[disabled]:focus,
fieldset[disabled] .ap-btn-danger:focus,
.ap-btn-danger.disabled.focus,
.ap-btn-danger[disabled].focus,
fieldset[disabled] .ap-btn-danger.focus {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.ap-btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

.ap-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.ap-dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.ap-dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.ap-dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.ap-dropdown-menu > li > a:hover,
.ap-dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.ap-dropdown-menu > .active > a,
.ap-dropdown-menu > .active > a:hover,
.ap-dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.ap-dropdown-menu > .disabled > a,
.ap-dropdown-menu > .disabled > a:hover,
.ap-dropdown-menu > .disabled > a:focus {
  color: #777;
}
.ap-dropdown-menu > .disabled > a:hover,
.ap-dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .ap-dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.ap-fixed-left .ap-dropdown-menu-right{
    right: auto;
    left: 248px;
}
.ap-dropdown-menu-right {
  right: 0;
  left: auto;
}
.ap-dropdown-menu-left {
  right: auto;
  left: 0;
}

.ap [class^="flaticon-"]{
    margin-right: 5px;
    font-size: 16px;
}