.jstree-icon{
    font-size:16px;
}
@media (max-width: 768px) {

  .jstree-default-responsive .jstree-icon {
    font-size:22px;
  }
  .jstree-default-responsive .jstree-children .jstree-last > .jstree-wholerow,
  .jstree-default-responsive .jstree-wholerow-clicked,
  .jstree-default-responsive .jstree-children .jstree-open > .jstree-wholerow{
      box-shadow:none;
  }
}