body {
    background: #e8e8e8;
}

body,
a,
.nav-tabs .nav-link,
.table > thead > tr > th {
    color: #343a40;
}

a:hover {
    color: #555f69;
}

.navbar .navbar-right > li > a:hover,
.navbar .navbar-right > li > a:focus {
    background: rgba(0, 0, 0, 0.125);
}

.pagination > li.page-item.active > a.page-link,
.pagination > li.page-item.active > a.page-link:hover {
    background: #b5bcbf;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.125) inset;

}

.pagination > li.page-item > a.page-link {
    border-color: rgba(0, 0, 0, 0.125);
    color: #343a40;

}

.pagination > li.page-item > a.page-link:hover {
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #e8e8e8));
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%);
    background: linear-gradient(top, #f6f6f6 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e8e8e8', GradientType=0);
}

.navbar {
    border-bottom: 1px solid #2A2E33;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

#wrapper #menu-toggle {
    color: #fff;
    background: #2A2E33;
}

.navbar,
#sidebar-wrapper,
#sidebar_menu li a,
.sidebar-nav li a {
    background-color: #343a40;
}

.navbar-nav .nav-link,
.navbar-brand,
#sidebar_menu li a,
.sidebar-nav li a,
.navbar .navbar-right > li > a {
    color: #b5bcbf;
}

.table > thead > tr > th {
    background: #eee;
    border-bottom: 0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
    background: #f7f7f7;
    color: #909090;
}

.nav-tabs .nav-item:last-child .nav-link {
    border-right: 0
}

.nav-tabs .nav-link {
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.150);
    border-top: 1px solid #fff;
    color: #636363;
    background: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e8e8e8));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e8e8e8', GradientType=0);

}
.nav-tabs .nav-link:hover {
    background: #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
}

@media (min-width: 768px) {
    .nav-tabs .nav-link {
        border-right: 1px solid rgba(0, 0, 0, 0.150);
    }
    .nav-tabs .nav-link {
        border: 0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.150);
        border-right: 1px solid rgba(0, 0, 0, 0.150);
    }
}




.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #d9edf7;
}

#page-nav {
    box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
    -webkit-box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
    border-top: 1px solid rgba(0, 0, 0, 0.150);
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.150);
    background: #f7f7f7;
}

.ui-dialog .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.ui-dialog .table-striped > tbody > tr {
    background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-striped > tbody > tr {
    background-color: #f7f7f7;
}

.breadcrumbs li.active::before {
    border-left-color: transparent;
}

@media (min-width: 992px) {
    .dropdown-menu > .nav-item > a {
        background: #FDFDFD;
        background: -moz-linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, whiteSmoke));
        background: -webkit-linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
        background: -o-linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
        background: -ms-linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
        background: linear-gradient(top, #FDFDFD 0%, whiteSmoke 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f5f5f5', GradientType=0);
    }

    .dropdown-menu {
        border: 1px solid #ccc;
        background: #FDFDFD;

    }

    .dropdown-menu > .nav-item {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ddd;

    }

    .dropdown-menu > .nav-item > a {
        color: #343a40;
    }

    .navbar-nav > li:first-child {
        border-left: 1px solid rgba(0, 0, 0, 0.200);
    }

    .navbar-nav > li {
        border-right: 1px solid rgba(0, 0, 0, 0.200)
    }
}

.sidebar-nav li:hover a,
.sidebar-nav li:focus a,
.sidebar-nav li.active a,
.navbar-nav > li:hover > a {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.125);
}

.sidebar-nav li.active a:hover i,
.sidebar-nav li a:focus i {
    color: #fff;
}

.sidebar-nav li.active a {
    -webkit-box-shadow: inset 0px 0px 15px -4px rgba(0, 0, 0, 0.500);
    -moz-box-shadow: inset 0px 0px 15px -4px rgba(0, 0, 0, 0.500);
    box-shadow: inset 0px 0px 15px -4px rgba(0, 0, 0, 0.500);
}

#sidebar_menu li a,
.sidebar-nav li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
}

.breadcrumbs li a {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#eeeeee), to(#ddd));
    background-image: -webkit-linear-gradient(left, #eeeeee, #ddd);
    background-image: -moz-linear-gradient(left, #eeeeee, #ddd);
    background-image: -ms-linear-gradient(left, #eeeeee, #ddd);
    background-image: -o-linear-gradient(left, #eeeeee, #ddd);
    background-image: linear-gradient(to right, #eeeeee, #ddd);
}

.breadcrumbs li a:hover {

    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#eeeeee), to(#fff));
    background-image: -webkit-linear-gradient(left, #eeeeee, #fff);
    background-image: -moz-linear-gradient(left, #eeeeee, #fff);
    background-image: -ms-linear-gradient(left, #eeeeee, #fff);
    background-image: -o-linear-gradient(left, #eeeeee, #fff);
    background-image: linear-gradient(to right, #eeeeee, #fff);
}

.breadcrumbs li a::after {
    border-left-color: #ddd;
}

.breadcrumbs li a::before {
    border-left-color: #c3c3c3;
}

.breadcrumbs li a:hover::after {
    border-left-color: #fff;
}

.breadcrumbs li.active,
.breadcrumbs li.active:hover {
    color: #b1b1b1;
}

.navbar-toggler span {
    background-color: #fff;
}

.card .card-header,
.ui-tabs .ui-tabs-nav li,
.ui-slider .ui-slider-handle,
.pagination > li.page-item > a.page-link,
.dropdown-menu > .nav-item > a:hover,
#page-nav {

    background: #f8f8f8;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e8e8e8));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    background: linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e8e8e8', GradientType=0);
}

.breadLinks > ul > li {
    border-right: 1px solid #c3c3c3;
}

.breadLinks ul li strong {
    color: #B35D5D;
}

.breadLinks > ul > li:first-child {
    border-left: 1px solid #c3c3c3;
}

form .form-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 1px solid #fff;
}

#page-nav > .nav > li {
    border-right: 1px solid #ccc;
}

#page-nav > .nav > li:first-child {
    border-left: 1px solid #ccc;
}

/**/
.form-error .nav-tabs {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}