ul.filter-list{

}
ul.filter-list > li,
ul.current-filter-list > li{
    margin: 8px 0;
}
ul.filter-list > li > a,
ul.current-filter-list > li > a{
    position: relative;
    padding-left: 25px;
}
ul.filter-list > li > a:after{
    border:1px solid #ddd;
    width:16px;
    height:16px;
    left:0;
    top:0;
    content:'';
    position: absolute;
    font-size:14px;
    font-style: normal;
    z-index: 1;
}
ul.filter-list > li > a.active:before{
    font-family: Corner;
    content:"\f055";
    color:#333;
    position: absolute;
    left:2px;
    top:-4px;
    font-size:16px;
    z-index: 2;
}

ul.current-filter-list > li > a.remove:after{
    position: absolute;
    left:5px;
    top:2px;
    color:#a94442;
    font-size:10px;
    font-family: Corner;
    content:"\f029";
}

@media (min-width: 768px) {

}