

#comment-list .comment-box {
    margin-left: 60px;
    margin-bottom: 2rem;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

#comment-list .comment-box:before,
#comment-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

#comment-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}


.comment-box .comment-header {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}


.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    position: relative;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}








#comment-list{
    width: 100%;
    margin: 0 auto;
}
.comment.comment-child{
    margin-left: 180px;
}
.comment{
    font-family: verdana;
}





a.reply-submit {
    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
    background-color:#007dc1;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}
a.reply-submit:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
    background-color:#0061a7;
}
a.reply-submit:active {
    position:relative;
    top:1px;
}

a.reply-submit:link,
a.reply-submit:hover,
a.reply-submit:visited,
a.reply-submit:active{
    float: right;
    text-decoration: none;
    color:#fff;

}
.comment a{
    font-family: verdana;
}
.comment{
    position: relative;
    margin: 10px 0;
}
.comment .comment-author{
    width: 50px;
    height: 50px;
    position: absolute;

}
.comment .comment-author img{
    width: 100%
}
.comment .level-2{
    margin-left: 60px;
}
.comment .level-3{
    margin-left: 120px;
}
.comment .level-4{
    margin-left: 180px;
}

.comment a.btn-reply{
    font-size: 12px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right:0;

}
.comment a.btn-reply:before{
    position: absolute;
    font-family: Pixelion;
    content: '\f165';
    left:-5px;
    top:5px;
}


.comment-panel a.icon{
    font-family: 'icomoon';
}
.comment-panel a.remove:before{
    content: "\e0fd";

}
.comment-panel a.edit:before{

    content: "\e005";
}
.comment .comment-content .comment-header .comment-panel a{
    margin:0 5px;
    text-decoration: none;
    /*text-indent: -9999px;*/
}
.comment .comment-content .comment-header .comment-panel a span{
    font-size:16px;
}



#comment-form{
    margin-top: 40px;
}
#comment-form h3{
    margin-bottom: 20px;
}
#comment-form .comment-form-author{
    width: 100px;
}
#comment-form .comment-form-author-image{
    margin-top: 20px;
}
#comment-form .comment-form-text{
    width:460px;

}
#comment-form .comment-form-text textarea{
    width:370px;
}
#comment-form .comment-form-text .comment-form-buttons{
    margin-top: 10px;
}
.input-row{
    margin: 0 0 15px 0;
}
.input-row input{
    margin-top: 5px;
}
/*reply form container*/
#comment-reply-form{
padding-left: 60px;
}

.container-reply{
    margin-left: 60px;
    margin-top: 10px;
}

/*
 Bootstrap
*/
#comment-list .btn-group > .btn{
   padding: 0 6px; 
    
}
.btn-group-addon{
    display: inline-block;
       float: left;
    position: relative;
    border-color: #ccc;
    line-height: 1.5;
    padding: 0 6px;
    background: #cbc9c9;
}