.rate {
	cursor: pointer;
	float: left;
	text-align: left;
	height: 15px;
	width: 85px;
}

.rate div { height:15px; }
.rate div.hover { background: url(../images/rating.gif) no-repeat left -30px; }
.rate div.active { background: url(../images/rating.gif) no-repeat left -30px; }
.rate div.noactive { background: url(../images/rating.gif) no-repeat left 0; }

.urating {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 85px;
	height: 15px;
	position: relative;
	background: url(../images/rating.gif) top left repeat-x;
}

.urating li {
	text-indent: -90000px;
	padding: 0px;
	margin: 0px;
	float: left;
}

.urating li div {
	outline: none;
	display: block;
	width: 17px;
	height: 15px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}

.urating div.out1			{ left: 0px; }
.urating li div.over1	{ background: url(../images/rating.gif) left center; z-index: 2; left: 0px; width: 16px; cursor: pointer; }
.urating div.out2			{ left: 16px; }
.urating li div.over2	{ background: url(../images/rating.gif) left center; z-index: 2; left: 0px; width: 33px; cursor: pointer; }
.urating div.out3			{left: 33px; }
.urating li div.over3	{ background: url(../images/rating.gif) left center; z-index: 2; left: 0px; width: 50px; cursor: pointer; }
.urating div.out4			{left: 50px; }
.urating li div.over4	{ background: url(../images/rating.gif) left center; z-index: 2; left: 0px; width: 67px; cursor: pointer; }
.urating div.out5			{left: 67px; }
.urating li div.over5	{ background: url(../images/rating.gif) left center; z-index: 2; left: 0px; width: 85px; cursor: pointer; }

.urating li.crating {
	background: url(../images/rating.gif) left bottom;
	position: absolute;
	height: 15px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}